body {
    font-family: 'Courier New';
    background-color: gray;
    text-align: center;
}

h1 {
    margin: 40px;
}

#appTop {
    background-color: white;
    width: 80%;
    min-width: 640px;
    border-radius: 20px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
}

#directions {
    text-align: center;
    display: block;
}

#mysteryBox {
    height: 200px;
    width: 600px;
    min-width: 600px;
    margin: 20px;
    border-radius: 20px;
    font: 72px Courier;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}

#numberCorrectBox {
    height: 200px;
    width: 200px;
    min-width: 200px;
    margin: 20px;
    border-radius: 20px;
    font: 32px Courier;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}

#numberWrongBox {
    height: 200px;
    width: 200px;
    min-width: 200px;
    margin: 20px;
    border-radius: 20px;
    font: 32px Courier;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}


#appBottom {
    background-color: white;
    width: 80%;
    min-width: 640px;
    display: inline-block;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
}

.guessBox {
    height: 200px;
    width: 200px;
    min-width: 200px;
    margin: 20px;
    border-radius: 20px;
    font-size: 72px;
    color: black;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}
