body {
    text-align: center;
}
h1{
    font-family: 'Courier New';
    margin: 40px;
}
#appTop {
    width: 80%;
    min-width: 640px;
    border-radius: 20px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    border: 2px solid black;
}

#directions {
    text-align: center;
    display: block;
}

#mysteryBox {
    height: 300px;
    width: 600px;
    min-width: 600px;
    margin-bottom: 40px;
    border-radius: 20px;
    font: 96px Courier;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}

#appBottom {
    width: 80%;
    min-width: 640px;
    display: inline-block;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    border: 2px solid black;
}

.guessBox {
    width: 300px;
    min-width: 300px;
    margin: 40px 20px;
    border-radius: 20px;
    font: 96px Courier;
    color: black;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}
